flows.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "MQTT Message Handler",
        "disabled": false,
        "info": "Reads messages from MQTT, extracts text, and forwards to another topic if it matches a given scenario."
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Subscribe: input/messages",
        "topic": "input/messages",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [["extract-text", "debug-all-messages"]]
    },
    {
        "id": "extract-text",
        "type": "function",
        "z": "flow1",
        "name": "Extract Text",
        "func": "// Parse the incoming message payload\n// Expected payload format: JSON object with a 'text' field\n// e.g. { \"text\": \"ALERT: sensor threshold exceeded\", \"source\": \"sensor-01\" }\n\nvar payload = msg.payload;\n\n// If payload is already a string, attempt JSON parse\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        // Not valid JSON - treat the entire string as the text\n        msg.extractedText = payload;\n        return msg;\n    }\n}\n\n// Extract the 'text' field from the parsed object\nif (payload && typeof payload === 'object' && payload.text !== undefined) {\n    msg.extractedText = payload.text;\n    msg.originalPayload = payload;\n} else {\n    // No 'text' field found - pass the payload as a string\n    msg.extractedText = String(payload);\n    msg.originalPayload = payload;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [["match-scenario"]]
    },
    {
        "id": "match-scenario",
        "type": "switch",
        "z": "flow1",
        "name": "Match Scenario",
        "property": "extractedText",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ALERT",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "WARNING",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 120,
        "wires": [["prepare-alert", "debug-alert"], ["prepare-warning", "debug-warning"]]
    },
    {
        "id": "prepare-alert",
        "type": "function",
        "z": "flow1",
        "name": "Prepare Alert Message",
        "func": "// Build the outgoing alert message\nmsg.payload = {\n    text: msg.extractedText,\n    scenario: \"ALERT\",\n    timestamp: new Date().toISOString(),\n    source: msg.topic\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 80,
        "wires": [["mqtt-out-alerts"]]
    },
    {
        "id": "prepare-warning",
        "type": "function",
        "z": "flow1",
        "name": "Prepare Warning Message",
        "func": "// Build the outgoing warning message\nmsg.payload = {\n    text: msg.extractedText,\n    scenario: \"WARNING\",\n    timestamp: new Date().toISOString(),\n    source: msg.topic\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 160,
        "wires": [["mqtt-out-warnings"]]
    },
    {
        "id": "mqtt-out-alerts",
        "type": "mqtt out",
        "z": "flow1",
        "name": "Publish: output/alerts",
        "topic": "output/alerts",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt-out-warnings",
        "type": "mqtt out",
        "z": "flow1",
        "name": "Publish: output/warnings",
        "topic": "output/warnings",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug-alert",
        "type": "debug",
        "z": "flow1",
        "name": "Debug: Alert matched",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "extractedText",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug-warning",
        "type": "debug",
        "z": "flow1",
        "name": "Debug: Warning matched",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "extractedText",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-all-messages",
        "type": "debug",
        "z": "flow1",
        "name": "Debug: All incoming messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    }
]
